* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: #FFFFFC;
}
h1,
h2,
p,
li {
    color: #333;
    font-family: 'Crimson Text', Georgia, serif !important;
    font-weight: 400;
}
h1 {
    font-size: 4em;
    /*font-size: 16vw;*/
    line-height: 1;
}
h2 {
    color: #FFFFFC;
    font-size: 3.3em;
}
p , li {
    font-size: 1.5em;
    /*font-size: 5.7vw;*/
    margin: .7em 0;
}
ul {
    list-style-type: none;
}
li a:active,
li a:link,
li a:visited {
    color: #333;
}
a {
        -webkit-transition: -webkit-transform 0.4s;
        -moz-transition: -moz-transform 0.4s;
    transition: color 0.4s;
}
a:active,
a:link,
a:visited {
    color: #08F;
    text-decoration: none;
}
a:hover,
li a:hover {
    color: #F90;
    text-decoration: underline;
}
.container {
    max-width: 100em;
    padding: 2em 0;   
    padding: 5vh 0;
    text-align: center;
    width: 80%;
}
main,
#about {
    align-items: center;
    display: -webkit-box;
    display: -moz-box; 
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}
#about {
    background-color: #333;
}
#about p {
    color: #fff;
    font-size: 1.1em;
    text-align: left;   
}
#about .container {
    width: 80%;
}
@media all and (min-width: 600px) {
    h1 {
        font-size: 6em;
        font-size: 15vw;
    }
    h2 {
        font-size: 5.5em;
    }
    p, li {
        font-size: 3.15vw;
    }
    li {
        float: left;
        width: 33%;
    }
    #about .container {
        width: 65%;
    }
}

@media all and (min-width: 1024px) {
    ul {
        width: 70%;
        margin: auto;
    }
    #about .container {
        width: 50%;
    }
}

@media all and (min-width: 1920px) {
    h1 {
        font-size: 18em;
    }
    p, li {
        font-size: 3.75em;
    }
}